@media (max-width: 992px) {
	.wrapper {
		margin: auto;
		max-width: 992px;
		height: 100%;
	}

	/*MENU*/
	.head_wrapper {
		width: 992px;
		background-image: url(../img/background_header992px.png);
		/*background-size: contain;*/
	}
	.menu_wrapper {
		width: 692px;
		height: 102px;
		align-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: auto;
	}
	.menu {
		width: 692px;
		height: 25px;
	}
	.board1 {
		margin-left: 191px;
	}
	.board2 {
		display: none;
	}

	/*About theatre*/
	.article_wrapper {
		width: 992px;
		height: 3223px;
	}
	.about_theatre {
		width: 691px;
		margin-left: 190px;
	}
	.article_title {
		width: 691px;
		height: 65px;
		margin: 0 auto;
	}
	.article_main_info {
		width: 691px;
	}
	.article_digits {
		width: 208px;
	}
	.article_pic {
		display: none;
	}

	/*Performance*/
	.performance {
		width: 690px;
		margin-left: 191px;
	}
	.article_perform {
		width: 690px;
		margin: 0 auto;
	}
	.perform_wrapper {
		width: 690px;
	}
	#perform_block1, #perform_block3, #perform_block4 {
		display: none;
	}
	#perform_block2 {
		margin: 0 auto;
	}

	/*Dates block*/
	.dates_block {
		width: 992px;
		background-image: url(../img/theatersmall992px.png);
		margin-left: 0;
	}
	.stars {
		margin: 171px auto 355px 431px;
	}
	.dates_block_paragraph {
		font-size: 34px;
		line-height: 51px;
		margin: 220px 111px 189px 431px;
	}

	/*last article*/
	.last_article_wrapper, #partners_paragraph,
	.partners, .partners_complete_logo, #partners_logo1,
	#partners_logo2, .footer_p {
		width: 690px;
	}
	.last_article_wrapper {
		height: 1051px;
		margin-left: 191px;
	}
	#partners_paragraph {
		margin: 0 auto;
	}
	#partners_logo1 div:last-child, #partners_logo2 div:last-child {
		display: none;
	}
	.contacts {
		width: 690px;
		height: 494px;
	}
	.contacts_form {
		width: 690px;
		margin-left: 0;
	}
	.textbox, textarea {
		width: 270px;
	}
	.contacts_phone_email {
		width: 690px;
		height: 59px;
		margin-top: 435px;
		flex-wrap: wrap;
		align-content: space-between;
	}
	#mail p {
		text-align: right;
	}

	/*FOOTER*/
	.footer_wrapper {
		width: 690px;
		margin-left: 191px;
	}
}

@media (max-width: 768px) {
	/*Header*/
	.wrapper {
		width: 768px;
		height: 100%;
	}
	.head_wrapper {
		width: 768px;
		height: 800px;	
	}
	.menu_wrapper {
		margin-left: auto;
		margin-right: 39px;
		width: 119px;
		height: 27px;
	}
	.menu {
		display: none;
	}
	.sticky_sidebar {
		display: none;
	}
	.board1 {
		margin-top: 252px;
		margin-left: auto;
		margin-right: auto;
	}
	.article_wrapper {
		margin-top: 90px;
		width: 768px;
		height: 2834px;
	}
	.about_theatre {
		width: 690px;
		height: 417px;
		margin-left: auto;
		margin-right: auto;
	}
	.article_title {
		margin: 0 auto;
		width: 690px;
	}
	.article_main_info {
		margin-top: auto;
	}

	/*НАШИ ПОСТАНОВКИ*/
	.performance {
		width: 690px;
		height: 675px;
		margin-top: 507px;
		margin-left: auto;
		margin-right: auto;
	}
	.perform_wrapper {
		top: auto;
	}
	.dates_block {
		margin-top: 1272px;
		width: 768px;
	}
	.years {
		margin: 126px 487px 126px 99px;
	}
	.stars {
		margin: 190px auto 336px 281px;
	}
	.dates_block_paragraph {
		font-size: 29px;
		margin: 239px 99px 190px 281px;
	}
	.last_article_wrapper {
		width: 690px;
		height: 922px;
		margin: 1912px auto auto auto;
	}
	.partners {
		width: 690px;
		height: 398px;
	}
	.partners_complete_logo {
		width: 686px;
		height: 273px;
	}
	.contacts {
		width: 690px;
		height: 434px;
	}
	.contacts_form {
		width: 690px;
		height: 190px;
		margin: auto;
	}
	.textbox, textarea {
		width: 270px;
	}
	.contacts_phone_email {
		width: 690px;
		margin-top: auto;
		margin-bottom: 0;
	}
	.footer_wrapper {
		width: 690px;
		margin: 60px auto 30px auto;
	}
}

/*576px*/
@media (max-width: 576px) {
	.wrapper {
		width: 576px;
		height: 100%;
	}
	.head_wrapper {
		width: 576px;
		height: 600px;
	}
	.board1 {
		width: 510px;
		margin: 197px 33px auto 33px;
	}
	.article_wrapper {
		margin-top: 80px;
		width: 576px;
		height: 3159px;
	}

	/*ABOUT THEATRE*/
	.about_theatre {
		width: 510px;
		height: 590px;
	}
	.article_title {
		width: 510px;
	}
	.article_main_info {
		width: 510px;
		height: 465px;
		/*margin: auto;*/
		flex-direction: column;
		/*justify-content: space-between;*/
	}
	.article_info {
		text-align: center;
		width: 505px;
		height: 273px;
	}
	.info1 {
		width: 505px;
		height: 23px;
	}
	.info2 {
		width: 504px;
		height: 210px;
	}
	.article_digits {
		width: 510px;
		height: 165px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#dig {
		text-align: center;
		width: 510px;
		height: 23px;
	}
	.article_digits {
		/*justify-content: space-around;*/
		align-content: space-between;
		/*display: block;*/
	}
	#pic1, #pic2 {
		width: 70px;
		height: 70px;
		margin-top: 40px;
	}
	#pic1 {
		flex-basis: 35%;
		order: 1;
		margin-left: 86px;	
	}
	#text1 {
		flex-basis: 35%;
		order: 3;
		margin-left: 82px;
	}
	#pic2 {
		flex-basis: 35%;
		order: 2;
		/*margin-right: 132px;*/
	}
	#text2 {
		flex-basis: 35%;
		order: 4;
	}
	.text {
		width: 185px;
		height: 17px;
	}
	.performance {
		margin-top: 670px;
		width: 510px;
		height: 675px;
	}
	.article_perform, .perform_wrapper {
		width: 510px;
	}
	.dates_block {
		margin-top: 1425px;
		width: 576px;
	}
	.years {
		width: 156px;
		margin-left: 33px;
	}
	.stars, .dates_block_paragraph {
		margin-left: 213px;
	}
	.dates_block_paragraph {
		font-size: 25px;
	}

	/*LAST ARTICLE*/
	.last_article_wrapper {
		margin-top: 2055px;
		width: 510px;
		height: 1112px;
	}
	.partners {
		width: 510px;

	}
	#partners_paragraph {
		width: 510px;
	}
	.partners_complete_logo {
		width: 510px;
	}
	/*div #logo:last-child {
		display: block;
	}*/
	#logo_none {
		display: none;
	}
	#partners_logo1, #partners_logo2 {
		width: 510px;
	}
	.contacts {
		width: 510px;
		height: 634px;
	}
	.contacts_form {
		width: 509px;
		height: 400px;
	}
	.input_block {
		width: 509px;
		height: 230px;
	}
	.div_input {
		width: 509px;
		height: 100px;
		flex-wrap: wrap;
	}
	.div_input div, input {
		width: 230px;
	}
	.textbox, textarea {
		width: 509px;
	}
	.textbox {
		margin-top: 130px;
	}
	.div_ button {
		margin: 270px auto auto auto;
	}
	.div_info_input {
		width: 435px;
		margin: 350px auto auto auto;
		text-align: center;
	}
	.contacts_phone_email {
		width: 509px;
	}
	.footer_wrapper, .footer_p {
		width: 504px;
	}
}